@using HoanBds.ViewModels;
@using HoanBds.Utilities;
@model ArticleViewModel
@{
    int d = 0;
    int category_id = Model.category_id;
}


<div class="row news-masonry">
    <div class="col-md-8 big-post">
        @foreach (var item in Model.obj_article_list.Skip(0).Take(1))
        {
            @* string folder_name = item.list_category_name.Split(",").First(); *@
            @* int folder_id = Convert.ToInt32(item.list_category_id.Split(",").First()); *@
            @* string link_folder = @Html.GetStaticUrlCategory(folder_name, folder_id); *@
            string link = @Html.GetStaticUrlNews(item.title, item.id);
            <div class="masonry-item">
                <div class="blog-post">
                    <div class="wt-post-media wt-img-effect zoom-slow">
                        <a href="@link" title="">
                            <img src="@item.image_169" alt="@item.title">
                        </a>
                    </div>
                    <div class="wt-post-info p-t30 text-black">
                        <div class="wt-post-meta ">
                            <ul>
                                <li class="post-date">
                                    <i class="icofont-clock-time"></i><strong>@item.publish_date.ToString("dd/MM/yyyy")</strong>
                                </li>
                            </ul>
                        </div>
                        <div class="wt-post-title">
                            <h3 class="post-title">
                                <a href="@link" title="">@item.title</a>
                            </h3>
                        </div>
                        <div class="wt-post-text">
                            <p>
                                @item.lead
                            </p>
                        </div>
                        <a href="@link" class="site-button black"><span>Đọc thêm</span><em></em></a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-4 small-post">
        @foreach (var item in Model.obj_article_list.Skip(1).Take(2))
        {
            @* string folder_name = item.list_category_name.Split(",").First(); *@
            @* int folder_id = Convert.ToInt32(item.list_category_id.Split(",").First()); *@
            @* string link_folder = @Html.GetStaticUrlCategory(folder_name, folder_id); *@
            string link = @Html.GetStaticUrlNews(item.title, item.id);
            <div class="masonry-item">
                <div class="blog-post">
                    <div class="wt-post-media wt-img-effect zoom-slow">
                        <a href="@link" title="">
                            <img src="@item.image_169" alt="@item.title">
                        </a>
                    </div>
                    <div class="wt-post-info p-t30 text-black">

                        <div class="wt-post-meta ">
                            <ul>
                                <li class="post-date">
                                    <i class="icofont-clock-time"></i><strong>@item.publish_date.ToString("dd/MM/yyyy")</strong>
                                </li>
                            </ul>
                        </div>
                        <div class="wt-post-title">
                            <h3 class="post-title">
                                <a href="@link" title="">@item.title</a>
                            </h3>
                        </div>

                        <div class="wt-post-text">
                            <p>
                                @item.lead
                            </p>
                        </div>
                        <a href="@link" class="site-button black"><span>Đọc thêm</span><em></em></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="list-news">
    @foreach (var item in Model.obj_article_list.Skip(3))
    {
        @* string folder_name = item.list_category_name.Split(",").First(); *@
        @* int folder_id = Convert.ToInt32(item.list_category_id.Split(",").First()); *@
        @* string link_folder = @Html.GetStaticUrlCategory(folder_name, folder_id); *@
        string link = @Html.GetStaticUrlNews(item.title, item.id);
        <div class="masonry-item">
            <div class="blog-post">
                <div class="wt-post-media wt-img-effect zoom-slow">
                    <a href="@link" title="">
                        <img src="@item.image_169" alt="@item.title">
                    </a>
                </div>
                <div class="wt-post-info p-t30 text-black">

                    <div class="wt-post-meta ">
                        <ul>
                            <li class="post-date">
                                <i class="icofont-clock-time"></i><strong>@item.publish_date.ToString("dd/MM/yyyy")</strong>
                            </li>
                        </ul>
@*                         @if (category_id <= 0)
                        {
                            <a href="@link_folder" class="cat-tag">@folder_name</a>
                        } *@
                    </div>
                    <div class="wt-post-title">
                        <h3 class="post-title">
                            <a href="@link" title="">@item.title</a>
                        </h3>
                    </div>
                    <div class="wt-post-text">
                        <p>
                            @item.lead
                        </p>
                    </div>
                    <a href="@link" class="site-button black"><span>Đọc thêm</span><em></em></a>
                </div>
            </div>
        </div>
    }
</div>
<div class="text-center expand-news">
    <a class="site-button button-seemore black" style="cursor: pointer">
        <span><i class="icofont-thin-down"></i>Xem thêm</span>
    </a>
</div>

