@using HoanBds.ViewModels;
@using HoanBds.Utilities;

@model ArticleViewModel

@{
    if (Model != null)
    {
        @foreach (var item in Model.obj_article_list.Take(4))
        {
            string link = @Html.GetStaticUrlNews(item.title, item.id);
            <div class="col-md-6 col-sm-6 col-xs-6 col-blog">
                <div class="overlay-wraper latest-blog-dark-outer">
                    <a href="@link" class="fade-box">
                        <img src="@item.image_169" class="" />
                    </a>
                    <div class="latest-blog-dark">
                                    <div class="v-date "><span><b>Thứ Ba</b><br />@item.publish_date.ToString("dd/MM/yyyy")</span></div>
                        <h3 class="title"><a href="@link">@item.title</a></h3>
                    </div>
                </div>
            </div>
        }
    }
}