@using HoanBds.Models;
@model List<CategoryModel>
@{
    string current_url = ViewBag.current_url;
    current_url = current_url.Split("/").Last();
    Dictionary<int, string> GrProduct = new Dictionary<int, string>();
    GrProduct.Add(57,"Nhà Phố");
    GrProduct.Add(58, "CCMN");
    GrProduct.Add(59,"Đất");
}
@if (Model != null)
{
    <ul>
        <li class="nav-item @Html.Raw(current_url==""?"active":"")">
            <a class="nav-link" href="/">Trang chủ
            </a>
        </li>
        @foreach (var item in Model)
        {

            <li class="@Html.Raw((item.path.IndexOf(current_url) >=0 && current_url!="")  ?"active":"")">
                <a class="nav-link" href="@("/" + item.path)">@item.name
                    @if (GrProduct.Keys.Any(key => key == item.id))
                    {
                        <i class="icofont-thin-down"></i>
                    }
                </a>
                @if (item.id == 59)
                {
                    <ul class="sub_menu">
                        <li class="">
                            <a href="@(item.path + "?" + "type=63")">
                                Đất thổ cư
                            </a>
                        </li>
                        <li class="">
                            <a href="@(item.path + "?" + "type=62")">
                                Đất dự án
                            </a>
                        </li>
                    </ul>
                }
                else if (item.id == 57 || item.id == 58)
                {
                    <ul class="sub_menu">
                        <li class="">
                            <a href="@(item.path + "?" + "pricecode=1")">
                                Dưới 10 tỷ
                            </a>
                        </li>
                        <li class="">
                            <a href="@(item.path + "?" + "pricecode=2")">
                                 10-20 tỷ
                            </a>
                        </li>
                        <li class="">
                            <a href="@(item.path + "?" + "pricecode=3")">
                                20 - 30 tỷ
                            </a>
                        </li>
                        <li class="">
                            <a href="@(item.path + "?" + "pricecode=4")">
                                Trên 30 tỷ
                            </a>
                        </li>
                    </ul>
                }
            </li>
        }
    </ul>
    <script src="~/js/common.js"></script>
}