@using HoanBds.Models;
@model List<CategoryModel>
@{
    string current_url = ViewBag.current_url;
    current_url = current_url.Split("/").Last();
}
@if (Model != null)
{
    <ul>
        <li class="nav-item @Html.Raw(current_url==""?"active":"")">
            <a class="nav-link" href="/">Trang chủ</a>
        </li>
        @foreach (var item in Model)
        {

            <li class="@Html.Raw((item.path.IndexOf(current_url) >=0 && current_url!="")  ?"active":"")">
                <a class="nav-link" href="@("/" + item.path.Replace("-"+ item.id,"" ) )">@item.name</a>
                @if (item.group_product_child != null)
                {
                    <ul class="sub_menu">
                        @foreach (var i in item.group_product_child)
                        {

                            <li class="">
                                <a href="#">
                                    @i.name
                                </a>
                            </li>

                        }
                    </ul>
                }
            </li>
        }
    </ul>
    <script src="~/js/common.js"></script>
}