@using HoanBds.Models;
@using HoanBds.Utilities
@model List<CategoryModel>
@{
    string current_url = ViewBag.current_url;
    current_url = current_url.Split("/").Last();
    Dictionary<int, string> GrProduct = new Dictionary<int, string>();
    GrProduct.Add(58,"Nhà Phố");
    GrProduct.Add(59, "CCMN");
    GrProduct.Add(60,"Đất");
}

<ul>
    <li class="nav-item @Html.Raw(current_url==""?"active":"")">
        <a class="nav-link" href="/">
            Trang chủ
        </a>
    </li>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            string link = @Html.GetStaticUrlNews(item.Name, item.id);

            // Tìm vị trí của dấu chấm cuối cùng
            int lastDotIndex = link.LastIndexOf('.');

            // Lấy phần chuỗi trước dấu chấm cuối cùng
            string result = link.Substring(0, lastDotIndex);
            <li class="@Html.Raw((item.Path.IndexOf(current_url) >=0 && current_url!="")  ?"active":"")">
                <a class="nav-link" href="@result">
                    @item.Name
                    @if (GrProduct.Keys.Any(key => key == item.id))
                    {
                        <i class="icofont-thin-down"></i>
                    }
                </a>
                @if (item.id == 60)
                {
                    <ul class="sub_menu">
                        <li class="">
                            <a href="@("/" + result + "?" + "type=63")">
                                Đất thổ cư
                            </a>
                        </li>
                        <li class="">
                            <a href="@("/" + result + "?" + "type=62")">
                                Đất dự án
                            </a>
                        </li>
                    </ul>
                }
                else if (item.id == 58 || item.id == 59)
                {
                    <ul class="sub_menu">
                        <li class="">
                            <a href="@("/" + result + "?" + "pricecode=1")">
                                Dưới 10 tỷ
                            </a>
                        </li>
                        <li class="">
                            <a href="@("/" + result + "?" + "pricecode=2")">
                                10-20 tỷ
                            </a>
                        </li>
                        <li class="">
                            <a href="@("/" + result + "?" + "pricecode=3")">
                                20 - 30 tỷ
                            </a>
                        </li>
                        <li class="">
                            <a href="@("/" + result + "?" + "pricecode=4")">
                                Trên 30 tỷ
                            </a>
                        </li>
                    </ul>
                }
            </li>
        }
    }
</ul>
@section Scripts {
    <script src="~/js/common.js"></script>
}

