@using HoanBds.Models.Products;
@using HoanBds.Utilities;
<style>
    .description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>
@{
    string static_domain = "https://static-image.adavigo.com";
}
@model ProductListResponseModel
@{
    if (Model != null)
    {

        foreach (var item in Model.items)
        {
            var img_src = item.avatar;
            if (img_src == null || img_src.Trim() == "") img_src = "";
            if (!img_src.Contains(static_domain)
            && !img_src.Contains("data:image")
            && !img_src.Contains("http")
            && !img_src.Contains("base64,"))
                img_src = static_domain + img_src;
            string link = @Html.GetStaticUrlProduct(item.name, item._id);
            <div class="swiper-slide">
                <div class="item--service">
                    <div class="box-service zoom-slow">
                        <div class="img-service fade-box">
                            <a href="@link" class="banner-hover-effect">
                                <img src="@img_src" alt="@item.name" />
                            </a>
                        </div>
                        <div class="desc-service">
                            <h3 class="title">
                                <a href="@link">
                                    @item.name
                                </a>
                            </h3>
                            <p class="description">
                                @item.description
                            </p>
                            <a href="@link" class="site-button black" style="margin-top:25px"> <span>Xem thêm </span><em></em></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
