@using HoanBds.Models.Products;
@using HoanBds.Utilities;
@model ProductListResponseModel
@{
    if (Model != null)
    {

        foreach (var item in Model.items)
        {
            string link = @Html.GetStaticUrlProduct(item.name, item._id);
            <div class="swiper-slide">
                <div class="item--service">
                    <div class="box-service zoom-slow">
                        <div class="img-service fade-box">
                            <a href="@link" class="banner-hover-effect">
                                <img src="@item.avatar" alt="@item.name" />
                            </a>
                        </div>
                        <div class="desc-service">
                            <div style="height: 180px; overflow: hidden;">
                                <h3 class="title">
                                    <a href="@link">
                                        @item.name
                                    </a>
                                </h3>
                                <p>
                                    @item.description
                                </p>
                            </div>
                            <a href="@link" class="site-button black" style="margin-top:25px"> <span>Xem thêm </span><em></em></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
