@using HoanBds.Models.Products;
@using HoanBds.Utilities;
@model ProductListResponseModel
@if (Model != null && Model.count > 0)
{
    <input type="hidden" class="total_items" value="@Model.count" />
    <input type="hidden" class="total_request" value="@(Model.page_index * Model.page_size)" />

    <div class="cbr-gallery row wrapper-project-1">
        @foreach (var item in Model.items)
        {
            string link = @Html.GetStaticUrlProduct(item.name, item._id);
            <div class="col-md-4 col-sm-6 col-12 col-pj">
                <div class="gallery-box fade-box product-resize">
                    <div class="overlay">
                        <a href="@link" title="" class="image-resize">
                            <img src="@item.avatar" alt="@item.name">
                        </a>
                        <div class="hover-effect"></div>
                        <div class="text-wrap-title">
                            <h3 class="pro-title"><a href="@link" title="">@item.name</a></h3>
                            <div class="text-wrap-link">
                                <a class="site-button black" href="@link">
                                    <span>Xem chi tiết</span><em></em>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="text-center">
        <a class="site-button button-seemore black expand-products">
            <span><i class="icofont-thin-down"></i>Xem thêm</span>
        </a>
    </div>
}
else
{
    <div class="col-12">
        <div class="text-center">
            <h3>
                Không tìm thấy dữ liệu!
            </h3>
        </div>
    </div>
}
