@using HoanBds.Models.Products;
@using HoanBds.Utilities;
@model ProductDetailResponseModel
@{

    string static_domain = "https://static-image.adavigo.com";

    var specification_list = new List<ProductSpecificationTypeModel>()
    {
      new ProductSpecificationTypeModel() { _id= 1, name= "CCMN", type= 3 },
       new ProductSpecificationTypeModel(){ _id= 5, name= "Nhà Phố", type= 3 },
       new ProductSpecificationTypeModel(){ _id= 2, name= "Đất", type= 3 },
    };
}
@if (Model != null && Model.product_main != null)
{
    <div class=" main-content-theme">

        <section class="section-parallax section-parallax-breadcrumb bg-top">
            <div class="overlay-main"></div>
            <div class="banner-title-outer">
                <div class="container">
                    <div class="banner-title-name">
                        <h1 class="text-white">Dự án</h1>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5  ">
                            <ol class="breadcrumb breadcrumb-arrows">
                                <li>
                                    <a href="/" target="_blank"><span>Trang chủ</span></a>
                                </li>

                                <li class="active">
                                    <span>@Model.product_main.name</span>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="product-detail-wrapper">
            <div class="container">
                <div class="row product-detail-main">
                    <div class="col-md-6 col-sm-12 product-content-desc" id="detail-product">
                        <div class="product-title">
                            <h1 class="title">@Model.product_main.name</h1>
                            <span class="pro_sku"><strong>SKU:</strong>@Model.product_main.code</span>
                        </div>
                        <div class="product-options">
                            <div class="product-price" id="price-preview">

                                <span class="pro-price">@(Model.product_main.label_price + " " + "đ")</span>
                                @if (Model.product_main.discount != 0)
                                {
                                    <del>@Model.product_main.discount</del>
                                }
                            </div>

                        </div>

                        <div class="product-action">
                            <a href="/lien-he-61" class="site-button black">
                                Gửi thông tin liên hệ
                            </a>
                        </div>

                        <div class="product-description">
                            <h2>Mô tả dự án</h2>
                            <div class="description-content expandable-toggle opened mb">
                                <div class="description-productdetail" style="height: 130px; overflow: hidden;">
                                    @Model.product_main.description
                                </div>
                                <button class="expandable-content_toggle js_expandable_content btn-viewmore">
                                    <span class="expandable-content_toggle-icon"></span>
                                    <span class="expandable-content_toggle-text">Xem thêm</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="gallery-product">
                            <div class="swiper thumb-big swiper-initialized swiper-horizontal swiper-backface-hidden">
                                <div class="swiper-wrapper" id="swiper-wrapper-b91038d5a32fbf10b" aria-live="polite">

                                    @if (Model.product_main.images != null && Model.product_main.images.Count > 0)
                                    {
                                        foreach (var img in Model.product_main.images)
                                        {
                                            var img_src = img;
                                            if (img_src == null || img_src.Trim() == "") img_src = "";
                                            if (!img_src.Contains(static_domain)
                                            && !img_src.Contains("data:image")
                                            && !img_src.Contains("http")
                                            && !img_src.Contains("base64,"))
                                                img_src = static_domain + img;
                                            <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 8" style="width: 585px; margin-right: 15px;">
                                                <div class="thumb-1x1">
                                                    <img src="@img_src" alt="">
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="swiper-nav">
                                    <div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-b91038d5a32fbf10b" aria-disabled="true"></div>
                                    <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-b91038d5a32fbf10b" aria-disabled="false"></div>
                                </div>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                            </div>
                            <div class="swiper thumb-small swiper-initialized swiper-horizontal swiper-free-mode swiper-watch-progress swiper-backface-hidden swiper-thumbs">
                                <div class="swiper-wrapper" id="swiper-wrapper-2a4ce3b27fbdb471" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
                                    @if (Model.product_main.images != null && Model.product_main.images.Count > 0)
                                    {
                                        foreach (var img in Model.product_main.images)
                                        {
                                            var img_src = img;
                                            if (img_src == null || img_src.Trim() == "") img_src = "";
                                            if (!img_src.Contains(static_domain)
                                            && !img_src.Contains("data:image")
                                            && !img_src.Contains("http")
                                            && !img_src.Contains("base64,"))
                                                img_src = static_domain + img;
                                            <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-active swiper-slide-thumb-active" role="group" aria-label="1 / 8" style="width: 135px; margin-right: 15px;">
                                                <div class="thumb-1x1">
                                                    <img src="@img_src" alt="">
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
}

